.msg {
    margin: 1em auto;
    width: 40%;
    padding: 1em;
    text-align: center;
    border: solid var(--black);
}

.msg::after {
    content: '';
    display: block;
    height: 0.2em;
    width: 50%;
    margin: 0.8em auto 0 auto;
    background-color: var(--blue);
}