.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
    border: solid var(--black);
    margin: auto;
    width: 70%;
    max-width: 800px;
    text-align: center;
    padding: 0px;
}

.menu-item > a {
    text-decoration: none;
    display: block;
    margin: 0.5em 1em;
    color: var(--black);
    padding: 0.5em 1em;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.menu-item > a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.active {
    color: var(--blue)!important;
}

@media only screen and (max-width: 800px) {
    .menu{
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 563px) {
    .menu{
        flex-direction: column;

    }
    .menu-item:not(:last-child){
        border-bottom: solid;
    }

    .menu-item a {
        font-size: 1.1rem;
        padding: 0.6em;
    }
    
}