@font-face {
    font-family: 'ITC';
    src: url(./resources/ITC_Avant_Garde_Gothic_LT_Medium.ttf);
}

:root {
    /* Colors variables */
    --blue: #01a3ec;
    --black: #000000;
    --white: #ffffff;
    --gray: #eeeeee;
    --yellow: #f6c600;

    /* Font Variables */
    --main-font: 'ITC';
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { font-size: 16px; }

body {
    background-color: var(--white);
    font-family: var(--main-font);
}

.hidden {
    /* Hidden visibly, but not from screen readers */
    position: absolute;
    top: -100%; 
    opacity: 0;
}

